<h1>Play Song</h1>
<p>{{url}}</p>
<form>
    <label>Youtube Link:
        {{input id="videoID" type="text" placeholder="link" value=videoId}}
        {{input id="videoTitle" type="text" placeholder="Poker Face" value=title}}
        {{input id="videoArtist" type="text" placeholder="Lady GaGa" value=artist}}
    </label>
    <button {{action 'save' videoId title artist}}>Add</button>
    
</form>

{{ember-youtube ytid=link autoplay=false playing="ytPlaying" ended="ytEnded"}}

<p>Songs in Playlist: {{model.length}}</p>

<ul>
    {{#each model as |song|}}
    <!--<li>{{song.videoId}}</li>-->
    <li {{action "getId" song.videoId song.title song.artist}}>{{song.title}} - {{song.artist}}</li>
    {{/each}}
</ul>


{{outlet}}
