<h1>Play song</h1>

<form>
    <label>Youtube Link:
        {{input id="videoID" type="text" placeholder="link" value=videoId}}
        {{input id="videoTitle" type="text" placeholder="Poker Face" value=title}}
        {{input id="videoArtist" type="text" placeholder="Lady GaGa" value=artist}}
    </label>
    <button {{action 'save' videoId title artist}}>Add</button>
    
</form>

{{ember-youtube ytid=model.firstObject.videoId autoplay=false}}

<p>Songs in Playlist: {{model.length}}</p>

<ul>
    {{#each model as |song|}}
    <!--<li>{{song.videoId}}</li>-->
    <li>{{song.title}} - {{song.artist}}</li>
    {{/each}}
</ul>


{{outlet}}
