<h1>Play List</h1>

<div class="player">
   <div class="music">
        <div class="add-song">
            <form class="add-music">
                <label>Add Song:
                    {{input id="videoID" class="input-song" type="text" placeholder="Link" value=videoId}}
                    {{input id="videoTitle" class="input-song" type="text" placeholder="Poker Face" value=title}}
                    {{input id="videoArtist" class="input-song" type="text" placeholder="Lady GaGa" value=artist}}
                </label>
                <button class="action-btn"{{ action 'save' videoId title artist}}>Add</button>

            </form>
            <!--
            <div class="members">
                <label>Others listening</label>
                <ul class="listeners">
                    <li class="listener">Listener 1</li>
                    <li class="listener">Listener 2</li>
                    <li class="listener">Listener 3</li>
                    <li class="listener">Listener 4</li>
                    <li class="listener">Listener 5</li>
                </ul>
            </div>-->
        </div>

        {{ember-youtube ytid=newLink autoplay=false playing="ytPlaying" ended="ytEnded" class="video"}}
        </div>
    <div class="playlist">
        <p>Songs in Playlist: {{model.length}}</p>
        <p>Currently Playing: {{currentSong}} - {{currentArtist}}</p>

        <ul>
            {{#each model as |song index|}}
            <!--<li>{{song.videoId}}</li>-->
            <li class="song"{{action "getId" song.videoId song.title song.artist index}}>{{song.title}} - {{song.artist}}</li>
            {{/each}}
        </ul>
    </div>
</div>


{{outlet}}
